#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  padding: 10px;
  margin: 10px;
}

h3{
  align-self: flex-end;
}

label{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

td{
  margin: 10px;
  padding: 10px;
}

@media (min-width: 1000px) {

  form{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
}